*,
*::before,
*::after {
  box-sizing: border-box;
}

/* *,*::before,*::after {outline: 1px solid red} */

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  height: 534px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 711px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
  width: 100%;
}

.content__list {
  position: relative;
  width: 399px;
  height: 298px;
  overflow-x:hidden;
  overflow-y:scroll;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 399px;
  height: 100%;
  padding-top: 5px;
}


.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover
}

.search-form__fieldset {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border-width: 0;
}

.search-form__fieldset-title {
  border-width: 0;
  color: #FFF;
  font-family: "Fira Sans Condensed", serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 21.6px;
}

.button {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFF;
  color: #FFF;
  font-family: "Fira Sans Condensed", serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 21.6px;
  text-align: center;
  background-color: transparent;
  height: 34px;
}

.search-form__submit-button {
  width: 194px;
  cursor: pointer;
}

.more-button {
  width: 399px;
  cursor: pointer;
}

.content__list li:not(:last-child) {
  margin-bottom: 30px;
}

.title {
  color: #FFF;
  font-family: Oswald, serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald, serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  max-width: 200px ;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content__video-card-description {
  color: #FFF;
  font-family: "Fira Sans Condensed", serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 16.2px; /* 90% */
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 200px;
}

.content__card-link {
  text-decoration: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;

}

.search-form__textfield {
  min-width: 225px;
  border: none;
  border-top: #FFF solid 1px;
  border-bottom: #FFF solid 1px;
  color:inherit;
  font-family:inherit;
  font-weight: inherit;
  font-size:inherit;
  line-height: inherit;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: #FFF solid 1px; ;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #FFF;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border-right: 1px solid #FFF;
  border-left: 1px solid #FFF;
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.button:focus {
  outline: none ;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: -2px;
}

.button:hover {
  text-decoration: underline;
}

.button:active{
  background-color: #545050 ;
}

.search-form__label:has(input[type='checkbox']):hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.content__card-link {
  display: block;
  margin: 2px;
}
.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}
